<div id=hero-wrap>     
  <div class="content-inner center-verticalmid" id=hero>

  
        <h1 class="mainheader">Thanks!</h1>
        <p class=description>We sent you a confirmation e-mail and we'll only send you periodic updates. Also, mind spreading the word?</p>
        
        <ul class=social-media>
            
        <li><a class="btn btn-large btn-primary social-button" href="#"><span class=facebook></span>Like & Share</a> </li>
        <li><a class="btn btn-large btn-info social-button" href="#"><span class=twitter></span>Follow & Tweet</a></li>
        
        </li>
          

  </div>
</div>