<!DOCTYPE html>
<html>
<head>
  <title>Getlearned</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/dym8sdl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- End Typekit -->
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="content center-parent">
      <%= yield %>
      <nav id=main>Blog • Team • Contact</nav>
    </div>

    
</body>
</html>
